/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
@font-face {
    font-family: 'GeneralSans';
    src: url('../fonts/GeneralSans_Complete/Fonts/OTF/GeneralSans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    /* Tăng hiệu suất tải font */
}

@font-face {
    font-family: 'GeneralSans';
    src: url('../fonts/GeneralSans_Complete/Fonts/OTF/GeneralSans-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GeneralSans';
    src: url('../fonts/GeneralSans_Complete/Fonts/OTF/GeneralSans-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'GeneralSans';
    src: url('../fonts/GeneralSans_Complete/Fonts/OTF/GeneralSans-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/* Root Variables */
:root {
    --font-family: 'GeneralSans', sans-serif;
    --container-width: 1425px;
    --dark-navy-blue: #253380;
    --light-navy-blue: #00A2C2;
    --border-header: #364A9B;
    --black: #111111;
    --white: #ffffff;
    --gray: #999485;
    --bg-selling: #F1F3F7;
    --red-color: #DD3327;
    --purple: #7B50F0;
    --yellow: #FFB800;
    --green: #008A00;
    --flex: flex;
    --center: center;
    --space-between: space-between;
    --gap-25: 25px;
    --gap-10: 10px;
    --fs-14: 14px;
    --header-font-size: 50px;
    --bg-console: #24B0C5;
    --bg-phone: #E8426A;
    --bg-camera: #6944E6;
}

/* Global Styles */
html,
body {
    font-family: var(--font-family);
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

a {
    text-decoration: none !important;
    color: var(--black) !important;
}

a:hover {
    color: var(--light-navy-blue) !important;
    transition: color 0.3s ease-in-out !important;
}

ul,
p {
    list-style: none;
    margin: 0 !important;
}

button {
    border: none;
    background-color: inherit;
}

.divider {
    width: 100%;
    height: 1px;
    background: var(--border-header);
}